---
---

@import "{{ site.theme }}";

body {
  color: #111111;
  font-weight: 500;
  font-size: 1.05rem;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #111111;
}

a {
  color: #0a0a0a;
  text-decoration: underline;
}

p {
  margin-bottom: 1.2em;
}

blockquote {
  border-left: 4px solid #333333;
  padding-left: 1em;
  color: #222222;
  font-style: italic;
}
